<div class="center home">
    <h1>Select a city below to see a list of opportunities</h1>
    <div class="home-buttons">
    <% @city.each do |city| %>
    <%= link_to city.name, list_path(:city_id => city.id), class: "btn btn-lg btn-block btn-primary" %>
    <% end %>
    </div>
</div>
