<div class="center">
    <h1>Pick a city below to see a list of opportunities</h1>
    <div class="home-buttons">
    <%= link_to "Kraków", '#', class: "btn btn-lg btn-block btn-primary" %>
    <%= link_to "Warszawa", '#', class: "btn btn-lg btn-block btn-primary" %>
    </div>
</div>
