<% if @opportunity.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains <%= pluralize(@opportunity.errors.count, "error") %>.
        </div>
        <ul>
            <% @opportunity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>