// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
}

.center {
    text-align: center;
}

/* Header */

#app-name {
    margin-left: 30px;
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    color: white;
    &:hover {
        text-decoration: none;
        color: #ade0ff;
    }
}

/* Home */
.home {
    padding-top: 25vh;
    a {
        margin: 0 10px;
    }
}

h1 {
    margin-bottom: 30px;
}

.home-buttons {
    width: 10vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* List */

.select-list-form {
    font-size: 2rem;
}